body {
    margin: 0 auto;
    padding: 0;
    height: 1000px;
    width: 1000px;
    background: url(../img/depositphotos.png);
  }

  #header{     
      background: #ddd;
      height: 100px;
      position: relative; 
      /* height: 10%; */      
 
  }

  #header:hover{     
      opacity: 0.75;
  }

  .header-left {
     position: absolute;
     width: 150px;
     height: 80px;     
     margin: auto;
     left: 0;
     top: 0;
     bottom: 0;
     right: 700px;
    
   }

   .header-right {
    position: absolute;
    width: 150px;
    height: 80px;     
    margin: auto;
    left: 700px;
    top: 0;
    bottom: 0;
    right: 0;
   
  }

  #leftcolumn{
      /* position: fixed; */
      width: 498px;
      float: left;
      height: 750px; 
      /* height: 75%; */
      background: #ada;
      margin-top: 3%;
      margin-bottom: 50px;

      border-left-color: #bd0000; /* Цвет линии слева */
      border-left-style: solid; /* Стиль линии */
      border-left-width: 2px; /* Толщина линии */
  }

  #rightcolumn{
    width: 498px;
    float: right;
    height: 750px; 
    /* height: 75%; */
    background: #3dd; 
    margin-top: 3%;
    margin-bottom: 50px; 
    
    border-right-color: #bd0000; /* Цвет линии справа */
    border-right-style: solid; /* Стиль линии */
    border-right-width: 2px; /* Толщина линии */
}

  #footer{
    clear: both;
    height: 150px;
    /* height: 15%; */
    background: #6aa;
  }

  #footer p{
    position: relative;
    opacity: 0.5;
    top: 50%;
    text-align: center;
   
  }

  #footer p:hover{    
    opacity:1;
}